:root {
  --main-color: #f2f2f2;
  --desktop-width: 1440px;
  --tablet-width: 768px
}

* {
  margin: 0;
  padding: 0;
}

.body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'img game' 'img keyboard';
  background-color: black;
  color: var(--main-color);
  font-size: 2vw;
  margin: 0 auto;
  /* max-width: var(--desktop-width); */
}

@media screen and (max-width: 768px){
  .body {
    font-size: 4vw;
    margin: 0 auto;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0;
}

.game__section {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-top: 100px;
  grid-area: game;
}

.game__section .question {
  order: 1;
  text-align: center;
}

.game__section .answer {
  order: 2;
}

.game__section .error-counter {
  order: 3;
}

.keyboard__section {
  grid-area: keyboard;
}

.img__section {
  margin: 50px 0 0 50px;
  grid-area: img;
}

.letter__btn {
  width: 3vw;
  height: 3vw;
  margin: 5px;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
  font-size: 2.5vw;
}

.letters {
  display: grid;
  grid-template-columns: repeat(13, 60px);
  grid-template-rows: auto;
  grid-gap: 1vw;
}

.gallows__img {
  width: 90%;
  /* height: 700px; */
}

.answer {
  display: flex;
  gap: 30px;
  font-size: 120px;
}

.modal {
  display: none;
}

.modal-show {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-end {
  display: flex;
  background-color: black;
}

.modal,
.modal-show,
.modal-end {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.restart__btn {
  border: none;
  background-color: var(--main-color);
  color: black;
  padding: 10px;
  font-size: 50px;
}