:root {
  --main-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
}


.body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'img game' 'img keyboard';
  background-color: black;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 auto;
  max-width: 1440px;
  max-height: 900px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px 0;
}

.game__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'quest' 'ans' 'err';
  grid-gap: 2.5vw;
  margin-top: 100px;
  grid-area: game;
  text-align: center;
}

.game__section .question {
  grid-area: quest;
}

.game__section .answer {
  grid-area: ans;
}

.game__section .error-counter {
  grid-area: err;
}

.keyboard__section {
  grid-area: keyboard;
  max-height: 200px;
  align-self: center;
}

.img__section {
  grid-area: img;
}

.gallows__img {
  width: 100%;
  /* height: 700px; */
}

.letters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.letter__btn,
.disable__btn {
  width: 4vw;
  height: 4vw;
  margin: 5px;
  border: none;
  font-size: 3vw;
}

.letter__btn {
  background-color: var(--main-color);
  cursor: pointer;
}

.disable__btn {
  background-color: gray;
  cursor: default;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 6vw;
  text-align: center;
}

.modal {
  display: none;
}

.modal-show {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-end {
  display: flex;
  background-color: black;
}

.modal,
.modal-show,
.modal-end {
  flex-direction: column;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.restart__btn {
  border: none;
  background-color: var(--main-color);
  color: black;
  padding: 10px;
  font-size: 3vw;
}

@media screen and (max-width: 810px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'img game' 'img keyboard';
    font-size: 25px;
    max-height: 100%;
  }

  .section {
    margin: 20px 20px 0 20px;
    height: auto;
  }

  .gallows__img {
    width: 50%;
    height: auto;
  }

  .game__section,
  .question {
    font-weight: 100;
    font-size: 15px;
  }

  .letters {
    grid-template-columns: 48px;
  }

  .letter__btn {
    font-size: 2vw;
  }
}


@media screen and (max-width: 400px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'img'
      'game'
      'keyboard';
    font-size: 15px;
    max-height: 100%;
  }

  .section {
    margin: 20px 20px 0 20px;
    height: auto;
  }

  .gallows__img {
    width: 30%;
    height: auto;
  }

  .game__section,
  .question {
    font-weight: 100;
    font-size: 15px;
  }

  .letters {
    grid-template-columns: 48px;
  }
}